.adminLoginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.passwordField{
    position: relative;
}
.positionRelative{
    position: absolute;
}
.hideIcon {
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
}