.subscribed {
  background-color: #62db62 !important;
  border-radius: 16px;
  height: 32px !important;
  width: fit-content;
  padding: 4px 10px;
  display: block;
}
.notsubscribed {
  background-color: #c0c1c0;
  border-radius: 16px;
  height: 32px !important;
  width: fit-content;
  padding: 4px 10px;
  display: block;
}

.filterSec {
  display: flex;
  justify-content: space-between;
}
input.searchCustomer {
  width: 30%;
  border-radius: 1.4rem;
  border: 1px solid gray;
  padding: 0.6rem 1.6rem;
  font-size: 1.4rem;
}
.adminSec {
  display: flex;
  background-color: #f1f2f4;
}
.dropDown {
  position: absolute;
  background-color: #fff;
  border-radius: 14px;
  border: 1px solid lightslategrey;
  padding: 14px;
  top: 13rem;
  right: 3rem;
}
input#activeUsers {
  border: 1px solid gray;
}
.detailsSec {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.details {
  margin-left: 2px;
}

.profile-name {
  text-transform: capitalize;
  margin-bottom: 0;
}
.topSec {
  display: flex;
  justify-content: space-between;
}
.noOrdersImg {
  width: 100%;
}
.ordersPlaced {
  border: 1px dotted lightgray;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.itemCont {
  display: flex;
  align-items: center;
}
img.cartImg {
  width: 50px;
}
.status {
  background-color: #c0c1c0;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 25px;
  margin: 2px;
}
.viewAllOrders {
  text-decoration: none;
  border: 1px solid #8f8b8b;
  width: max-content;
  border-radius: 25px;
  background-color: transparent;
  color: #000;
  padding: 4px 8px;
}
.error {
  color: #f14848;
  font-size: 15px;
}
.form-switch .form-check-input {
  min-height: 1.8rem !important;
  width: 3.6rem !important;
  display: flex;
  align-items: center;
}
.form-check-label{
  font-size: 1.3rem;
  margin-left: 0.6rem;
}