.displayIeviewImgsCont {
  display: flex;
  overflow-x: auto;
  width: 96%;
}

.displayIeviewImg {
  width: 66px;
  margin-right: 8px;
}

.product-image {
  width: 100px;
  margin-right: 8px;
}
.product-link {
  text-decoration: none;
  color: #000;
}
.product-link:hover {
  color: #046ecb;
}

.deatils-btn {
  text-decoration: none;
  cursor: pointer;
  font-weight: 400;
  color: #0d47a1;
  font-size: 15px;
  margin-left: 14px;
}
