@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html { 
  font-size: 62.5%;
} 
body {
  font-family: 'Inter', sans-serif !important;
}

h4, .h4 {
  font-size: 2.3rem !important;
  font-weight: 600 !important;
}
h5, .h5{
  font-size: 2rem !important;
  font-weight: 600 !important;
  margin-bottom: 0 !important;
}
h6, .h6 {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
}
p, .p{
  font-size: 1.4rem;
}
label {
  font-size: 1.3rem;
  padding-bottom: 0.3rem;
  white-space: nowrap;
}
.labelForm{
  white-space: normal;
}
.form-select,.form-control,.searchWrapper{
  padding: 0.6rem 2.25rem 0.6rem 0.75rem !important;
  border: 1px solid #8e8e8e !important;
  border-radius: 0.8rem !important;
  font-size: 1.3rem !important;
}
.custom-form-select{
  padding: 0.3rem 2.25rem 0.3rem 0.4rem !important;
}
.form-group {
  margin: 1.4rem 0;
}

/*table*/

.sortBtn {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 0.2rem;
}

.custom-table{
  table-layout: fixed;
  width: 100%;
}

.productTitle{
  min-width: 5rem; 
  max-width: 5rem; 
  white-space: break-spaces; 
  overflow: hidden; 
  text-overflow: ellipsis;
  color: #3d3b3b;
  font-weight: 700;
}
.productSku{
  min-width: 5rem; 
  max-width: 5rem; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
input,select,textarea{
  box-shadow: none !important;
}
.inventoryDropdown>option{
  font-size: 1.6rem !important;
}
.activeProduct{
  background-color: #affebf;
  color: #22612e;
  font-weight: 500;
  width: max-content;
  padding: 0.1rem 0.6rem;
  border-radius: 0.8rem;
  text-align: center;
  min-width: 5rem !important;
  display: inline-block;
}
.draftProduct{
  background-color: #d5ebff;
  color: #003a5a;
  font-weight: 500;
  padding: 0.1rem 0.6rem;
  border-radius: 0.8rem;
  min-width: 5rem !important;
  display: inline-block;
  text-align: center;
}

/* navbar */

.navBars{
  display: none;
}

.customDropDown[data-bs-popper] {
  top: 44px !important;
  left: -102px !important;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn {
  font-size: 0.8rem !important;
}
.checkboxInput{
  width: 2rem !important;
  box-shadow: none;
}
.trackerInputs {
  margin-left: 2rem;
}
.form-check{
  padding-left: 0 !important;
}
.form-check-input:checked {
  background-color: black !important;
}
.navText {
  font-family: revert;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}
ul.dropdownMenu {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 5rem;
  list-style-type: none;
  padding: 1rem;
  line-height:3rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.tableCont table thead tr {
  position: sticky;
  top: 0;
  z-index: 2; /* Ensure it appears above other content */
  background-color: #fff; /* Match the table's background */
}
.multiSelectContainer li {
  padding: 10px;
  font-size: 1.3rem;
}
/* pagination */
.page-item.active .page-link {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.page-link {
  color: #000 !important;
  min-width: 2.6rem;
  text-align: center;
  font-size: 1.2rem !important;
}

.color-toast.swal2-icon-warning {
  background-color: rgb(227, 36, 36, 0.9) !important;
}

.jodit-workplace {
  max-height: 300px !important;
}
.jodit-add-new-line{
  display: none !important;;
}
.jodit-container:not(.jodit_inline) {
  background-color: #f5f5f6;
  border: 1px solid #8e8e8e !important;
  border-radius: 0.8rem !important;
  font-size: 1.3rem !important;
}
.jodit-toolbar__box:not(:empty):not(:empty) {
  border-radius: 0.8rem;
}
.jodit-workplace+.jodit-status-bar:not(:empty) {
  border-radius: 0.8rem;
}
.ql-editor {
  min-height: 200px;
}

.top_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle::after {
  display: none !important;
}
.modalInputField {
  width: 44%;
}
.modalCont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.thumbnail {
  width: 2%;
}
.addVariant {
  border-style: none;
  background-color: transparent;
  font-size: 1.2rem;
  color: #303030;
  font-weight: 600;
}
.btnStyle {
  border: none;
}

/* sidebar */

.adminNavbarInnerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.adminNavToggle {
  border: none;
  background-color: transparent;
}

.adminNavbar {
  box-shadow: 0rem 0.0625rem 0.0625rem #1f21241a;
  padding: 0.8rem !important;
}

.adminDropdown > li {
  padding: 4px;
}
.adminDropdown {
  background-color: #fff !important;
}
.horizontalLine {
  border-bottom: 1px solid #dde0e4;
}

.adminSec {
  display: flex;
  background-color: #f1f2f4;
}

.sidebarCont {
  background-color: #eaeaea;
  min-width: 22rem;
  position: fixed;
  height: 100vh;
  top: 6rem;
  z-index: 3;
}
.sidebarCont:hover{
  overflow: auto;
}
.searchInputCont {
  background-color: #f1f2f4;
  width: 44%;
  padding: 4px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  display: flex;
}
.searchInput {
  background-color: #f1f2f4;
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 6px;
}
.searchIcon {
  font-size: 22px;
}
.userProfile {
  width: 5rem;
  border-radius: 50%;
  height: 5rem;
  border: 0.5px solid grey;
}
.nav_social_icon {
  font-size: 50px;
}
.CollectionsThumbnail {
  border: none;
  position: absolute;
}
.manageAccountSec {
  margin-top: 12px;
}
.sideBarItems {
  padding: 2rem 1rem;
}

.child-div {
  padding: 1rem 2rem 1rem 4rem;
  border: 1px solid lightgray;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}
.variantsOutput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.variantsDisplay {
  padding-bottom: 6px;
}
.variantsOutputTopbar {
  display: flex;
  justify-content: space-between;
  background-color: #dfe0e5;
  padding: 6px 8px;
}
.valueCont {
  background-color: #dfe0e5;
  width: max-content;
  border-radius: 0.6rem;
  padding: 0.2rem 0.8rem;
  text-align: center;
  margin: 2px;
}
.variantName{
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.variantEditBtn {
  border: 1px solid grey;
  font-size: 14px;
  border-radius: 8px;
}
.variantDltBtn {
  position: absolute;
  right: 1rem;
  top: 0.8rem;
  z-index: 1;
  background-color: transparent;
  border: none;
}
.variantDoneBtn {
  border: 1px solid grey;
  font-size: 14px;
  border-radius: 8px;
}
.variantsOutputValbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
}
.subVariantsOutputValbar {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  margin-left: auto;
}
.variantImgCont {
  position: relative;
  display: flex;
  align-items: center;
}

.variantImgInput2 {
  position: absolute;
  opacity: 0;
  width: 90px;
}
.variantImgFile {
  font-size: 6rem;
  border: 1px dotted grey;
  padding: 1.4rem;
  border-radius: 0.8rem;
  margin-right: 0.8rem;
}
.variantEditCont {
  max-height: 350px;
  overflow-y: auto;
}

.errorValue {
  color: red;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 0.2rem;
}
.variantImgInput {
  position: absolute;
  opacity: 0;
  left: -8px;
  width: 68px;
}
.variantEditor{
  color: #303030;
  text-decoration: none;
  cursor: pointer;
  margin:0rem 0.4rem;
  }
.variantEditor:hover{
  color: #0d6efd !important;
}
.inActiveVariant{
  background-color: gray;
  color: #303030;
  font-weight: 500;
  padding: 0.1rem 0.6rem;
  border-radius: 0.8rem;
}
p.variantHeading {
  margin-bottom: 0;
  font-size: 1.6rem;
}
.activeVariant{
  background-color: #affebf;
  color: #22612e;
  font-weight: 500;
  padding: 0.1rem 0.6rem;
  border-radius: 0.8rem;
}
.mVImg {
  border: 1px dashed lightgray;
  border-radius: 0.8rem;
  height: 6rem;
}
.vImg {
  height: 6rem;
  width: 6rem;
  margin-right: 0.4rem;
}
.addBtn {
  display: inline;
  border: none;
  background-color: transparent;
  display: inline;
}
.link {
  text-decoration: none;
  color: #000;
}
.customDropdownButton {
  font-weight: 600;
  color: #403f3f;
  font-size: 1.3rem;
}
.linkItem {
  text-decoration: none;
  color: #403f3f;
  font-weight: 600;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  font-size: 1.3rem;
}
.singleLinkItem{
  color: #403f3f;
}
.activeTab {
  background: #fafafa;
  list-style-type: none;
  color: #000;
  border-radius: 8px;
  font-weight: 600;
}
/* slider */
.drop-zone {
  max-width: 100%;
  height: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  object-fit: cover;
  border: 1px dashed #ced4da;
  border-radius: 0.25rem;
  position: relative;
}
.drop-zone-input {
  display: none;
}
.bgStyle {
  box-shadow: 0rem 0.125rem 0.25rem #1f21241a, 0rem 0.0625rem 0.375rem #1f21240d;
  padding: 4%;
  border-radius: 8px;
  margin: 8px 0;
  background-color: #fff;
}

.activePage {
  padding: 0 !important;
}

.faq-bgStyle {
  box-shadow: 0rem 0.125rem 0.25rem #1f21241a, 0rem 0.0625rem 0.375rem #1f21240d;
  padding: 2% 0%;
  border-radius: 8px;
  margin: 8px 0;
  background-color: #fff;
}
.commonSec {
  background-color: #f1f1f1;
  width: 100%;
  margin-left: 24rem;
  padding: 9rem 2rem 0 2rem;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.middleSec {
  min-height: 68vh;
  padding-bottom: 4rem;
}
tr.tableHeader {
  position: sticky;
  top: 0;
  z-index: 3;
}
.paginationCont {
  position: fixed;
  background: #f1f1f1;
  bottom: 0;
  width: 78% !important;
  z-index: 3;
  min-height: 62px;
}
.Page.navigation{
  height: 10rem;
}
.infoTxt {
  font-size: 1.2rem;
  padding-top: 1px;
  color: gray;
}
.heading {
  padding-bottom: 2px;
}
.btnCont {
  background-color: #f1f2f4;
  padding: 3rem 0;
  display: flex;
  justify-content: end;
}
.collectionTopbar {
  display: flex;
  justify-content: space-between;
}
.collectionsCont {
  border-bottom: 1px solid grey;
  padding: 8px 0;
}
.collectionsImgCont {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}
.imgThumbnail {
  border: 1px dotted grey;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
/* .collectionsDisplay {
  background-color: #fff;
  border-radius: 6px;
  padding: 6px;
} */
.collectionsCont:hover {
  background-color: #f1f2f4;
}
/* .collectionImg {
  width: 60px;
  opacity: 0;
  position: absolute;
  left: 24px;
  cursor: pointer;
} */
 .collectionImg{
    width: 6rem;
    height: 6rem;
    border-radius: 0.4rem;
 }
.radioBtnStylings {
  padding-left: 4px;
}
.dropZoneOverlay {
  font-family: cursive;
  color: #7066fb;
  position: absolute;
  top: 100px;
  text-align: center;
  padding: 0 10px;
}

.FileUpload {
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
img.bImg {
  max-height: 100%;
  width: 100%;
}

.bannerThumbnail {
  width: 100%;
}
.adminLoginBtn {
  text-decoration: none;
  color: #000;
}
.activeBtn {
  background-color: rgba(79, 238, 92, 0.919);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}

.inactiveBtn {
  background-color: rgb(242, 75, 9);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}

.published {
  background-color: rgba(79, 238, 92, 0.919);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}
.scheduled {
  background-color: rgb(234, 242, 9);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}

.password-toggle-icon {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  padding: 0 8px;
  margin-top: -20px;
}

/* productListing */

.productsTopbar {
  display: flex;
  justify-content: space-between;
}
.infoBtn, .adminBtn {
  background-color: #303030;
  text-decoration: none !important;
  color: rgba(255, 255, 255, 1);
  font-size: 1.2rem;
  font-weight: 600;
  width: max-content;
  border-radius: 1rem;
  padding: 0 1.4rem;
  box-shadow: 0rem -.0625rem 0rem .0625rem rgba(0, 0, 0, .8) inset, 0rem 0rem 0rem .0625rem rgba(48, 48, 48, 1) inset, 0rem .03125rem 0rem .09375rem rgba(255, 255, 255, .25) inset;
  display: flex;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}
.adminBtn{
  padding: 0.4rem 1.4rem;
}
.infoBtn:hover,.adminBtn:hover {
  background-color:#1a1a1a;
  color: #fff !important;
}
.secBtn{
  background-color: #dfdee2;
  color: #3d3939;
  border: none;
  padding: 0 0.6rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.8rem !important;
  transition: 0.3s all;
}
.exportBtn{
  background-color: #dfdee2;
  color: #3d3939;
  border: none;
  padding: 0 0.6rem;
  border-radius: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  border-radius: 0.8rem !important;
  transition: 0.3s all;
}
.exportBtn:hover{
  background-color: #cccbcf;
  color: #353333;
}
.deleteBtn{
  background-color: transparent;
  text-decoration: none;
  color: #8e0b21;
  border: 1px solid gray;
  font-size: 1.2rem;
  font-weight: 600;
  width: max-content;
  border-radius: 0.8rem;
  padding: 0.2rem 1rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.deleteBtn1{
  background-color: #c70a24;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.deleteBtn1:hover{
  background-color: #8e0b21;
}
.productThumbnail {
    max-width: 5rem;
    min-width: 5rem;
    max-height: 5rem;
    min-height: 5rem;
    border-radius: 0.6rem;
    border: 1px solid lightgrey;
}

.variantInput {
  width: 100px;
}
.wImg {
  max-width: 380px;
  position: absolute;
}
.mImg {
  max-width: 140px;
  position: absolute;
}
.mbImg {
  width: 120px;
  position: absolute;
}
.cancelBtn {
  border: 1px solid rgb(173, 173, 173);
  color: #000;
  font-weight: 500;
  background-color: transparent;
  border-radius: 6px;
}
.productLink {
  text-decoration: none !important;
  color: #000;
}

/* notFoundPage */

.not-found-card {
  background-color: #a890cc;
  width: 98vw;
  height: 96vh;
  display: flex;
  align-items: center;
}

.not-found-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.heading-main {
  color: #91bbd9;
  font-size: 13rem;
  font-weight: bold;
  margin: 0px;
}

.heading_sub {
  font-family: 'Roboto', 'Helvetica Neue';
  color: #363337;
  margin-bottom: 15px;
}

/* Discounts page */

.methodBtn {
  background-color: transparent;
  border: none;
  width: 50%;
}
.methodBtnCont {
  border-radius: 8px;
  width: 60%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #c9c6c6;
  margin-bottom: 4px;
}
.active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.brandThumbnail {
  width: 10rem;
}
.categoryThumbnail{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}
input#categoryImage {
  position: absolute;
}
.categoryThumbnailInput{
  min-width: 16rem;
  max-width: 16rem;
  min-height:16rem; 
  max-height:16rem;
}
.subCategoryCont{
  display: flex;
  align-items: center;
  position: relative;
}
.dltSubCat {
  position: absolute;
  right: 2.6rem;
  cursor: pointer;
}
.icons {
  cursor: pointer;
  margin-right: 8px;
}
tr.item {
  vertical-align: middle;
}
.generateCodeBtn {
  background-color: transparent;
  border: none;
  color: blue;
}
.summaryTxt {
  font-size: 12px;
  font-weight: 700;
}
svg.copyIcon {
  font-size: 15px;
  margin-left: 4px;
  cursor: pointer;
}
.singleVariantImg {
  position: relative;
}
.discountBlock {
  position: relative;
}
.percentageSign {
  position: absolute;
  top: 12px;
  right: 4px;
  color: gray;
}
.rupeeSign {
  position: absolute;
  top: 12px;
  left: 2px;
  color: gray;
}
.amtInpt {
  margin: 6px;
  width: 20%;
}
.chip {
  text-wrap: wrap !important;
}

.newVariant {
  margin-top: 12%;
}
.imgController {
  position: relative;
  display: flex;
  width: 12rem;
  min-height: 100%;
}
.imagesCont {
  display: flex;
  margin: 1rem 0;
  border: 1px dashed grey;
  padding: 0.5rem;
  border-radius: 0.8rem;
  flex-wrap: wrap;
  gap: 14px;
  min-height: 10rem;
}
.imgUploadIcon {
  border: 1px dotted grey;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Match the container width */
  height: 100%; /* Match the container height */
  border-radius: 0.5rem;
  background-color: #f8f9fa; /* Optional: Add a background color */
  z-index: 1; /* Place it below the input */
}
.imageFileInput {
  position: absolute; /* Make the input overlay the icon */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0; /* Hide the input visually but keep it clickable */
  cursor: pointer; /* Ensure it's clickable */
  z-index: 2; /* Bring it above the icon */
}
.imgCont {
  position: relative;
}
.selectImg {
  display: none;
}
.imgCont:hover {
  .selectImg {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
  }
}

.enableall {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 18px;
  height: 18px;
}

.dltImgBtn {
  font-size: 24px;
  color: #ec2e2e;
  cursor: pointer;
}

/* announcementBarSec */

.announcementBarSec {
  width: fit-content;
}
.spacing {
  margin: 10px 0;
}

button#drobdownBtn {
  border: none;
  padding: 6px 10px;
  background-color: transparent;
}
.dropdownItems {
  color: gray !important;
  display: flex !important;
  align-items: center;
}
.childElements {
  padding: 0 0 0 2.4rem;
}

/* inventoryPage */

.inventoryDropdownBtn {
  border-style: none !important;
  font-weight: 600 !important;
  font-size: 26px !important;
}
svg.downArr {
  font-size: 20px;
}
input.inventoryInput {
  width: 8rem;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 8px;
  border: 1px solid darkslategray;
  border-color: darkgrey;
}

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


@media screen and (max-width: 768px) {
  .navBars{
    display: block;
  }
  .commonSec {
    margin-left: 0;
    padding-top: 12rem;
  }
  .onClickClose{
    left: -22rem;
  }
  .sideBarItems {
    padding: 6rem 1rem;
  }
  img.userProfile {
    margin-left: -8rem;
  }
  .dropdown.nav_dropdown {
      position: absolute;
      top: 2rem;
      right: 0.6rem;
  }
  .table{
    table-layout: inherit;
  }
}
