/* navbar */

.customDropDown[data-bs-popper] {
  top: 44px !important;
  left: -102px !important;
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.btn {
  font-size: 0.8rem !important;
}
.navText {
  font-family: revert;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}
ul.dropdownMenu {
  position: absolute;
  background-color: #fff;
  right: 0;
  top: 44px;
  list-style-type: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* pagination */
.page-item.active .page-link {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
}
.page-link {
  color: #000 !important;
}

.color-toast.swal2-icon-warning {
  background-color: rgb(227, 36, 36, 0.9) !important;
}

.jodit-workplace {
  max-height: 300px !important;
}

.ql-editor {
  min-height: 200px;
}

.top_sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle::after {
  display: none !important;
}
.modalInputField {
  width: 44%;
}
.modalCont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.thumbnail {
  width: 2%;
}
.addVariant {
  border-style: none;
  background-color: none;
  font-size: 14px;
  color: blue;
}
.btnStyle {
  border: none;
}

/* sidebar */

.adminNavbarInnerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.adminNavToggle {
  border: none;
  background-color: transparent;
}

.adminNavbar {
  box-shadow: 0rem 0.0625rem 0.0625rem #1f21241a;
  padding: 4px 12px;
}

.adminDropdown > li {
  padding: 4px;
}
.adminDropdown {
  background-color: #fff !important;
}
.horizontalLine {
  border-bottom: 1px solid #dde0e4;
}

.adminSec {
  display: flex;
  background-color: #f1f2f4;
}

.sidebarCont {
  background-color: #eaeaea;
  min-width: 210px;
  position: fixed;
  height: 100vh;
  overflow: auto;
  top: 50px;
}
.searchInputCont {
  background-color: #f1f2f4;
  width: 44%;
  padding: 4px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  display: flex;
}
.searchInput {
  background-color: #f1f2f4;
  width: 100%;
  border: none;
  outline: none;
  padding: 2px 6px;
}
.searchIcon {
  font-size: 22px;
}
.userProfile {
  width: 50px;
  border-radius: 50%;
  height: 50px;
  border: 0.5px solid grey;
}
.nav_social_icon {
  font-size: 50px;
}
.CollectionsThumbnail {
  border: none;
  position: absolute;
}
.manageAccountSec {
  margin-top: 12px;
}
.sideBarItems {
  padding: 2rem 1rem;
}

.child-div {
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid grey;
}
.variantsOutput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.variantsDisplay {
  padding-bottom: 6px;
}
.variantsOutputTopbar {
  display: flex;
  justify-content: space-between;
  background-color: #dfe0e5;
  padding: 6px 8px;
}
.valueCont {
  background-color: #dfe0e5;
  border-radius: 14px;
  padding: 2px 10px;
  width: max-content;
  text-align: center;
  margin: 2px;
}
.variantEditBtn {
  border: 1px solid grey;
  font-size: 14px;
  border-radius: 8px;
}
.variantDltBtn {
  background-color: transparent;
  border: none;
}
.variantDoneBtn {
  border: 1px solid grey;
  font-size: 14px;
  border-radius: 8px;
}
.variantsOutputValbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
}
.subVariantsOutputValbar {
  width: 94%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  margin-left: auto;
}
.variantImgCont {
  position: relative;
  display: flex;
  align-items: center;
}

.variantImgInput2 {
  position: absolute;
  opacity: 0;
  width: 90px;
}
.variantImgFile {
  font-size: 50px;
  border: 1px dotted grey;
  padding: 14px;
  border-radius: 6px;
}
.variantEditCont {
  max-height: 350px;
  overflow-y: auto;
}

.errorValue {
  color: red;
}
.variantImgInput {
  position: absolute;
  opacity: 0;
  left: -8px;
  width: 68px;
}
.vImg {
  width: 100px;
}
.addBtn {
  display: inline;
  border: none;
  background-color: transparent;
  display: inline;
}
.link {
  text-decoration: none;
  color: #000;
}
.customDropdownButton {
  font-weight: 500;
  color: #303030;
  font-size: 14px;
}
.linkItem {
  text-decoration: none;
  color: #303030;
  font-weight: 500;
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
}
.activeTab {
  background: #fafafa;
  list-style-type: none;
  color: #000;
  border-radius: 8px;
  font-weight: 600;
}
/* slider */
.drop-zone {
  max-width: 100%;
  height: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  object-fit: cover;
  border: 1px dashed #ced4da;
  border-radius: 0.25rem;
  position: relative;
}
.drop-zone-input {
  display: none;
}
.bgStyle {
  box-shadow: 0rem 0.125rem 0.25rem #1f21241a, 0rem 0.0625rem 0.375rem #1f21240d;
  padding: 4%;
  border-radius: 8px;
  margin: 8px 0;
  background-color: #fff;
}

.activePage {
  padding: 0 !important;
}

.faq-bgStyle {
  box-shadow: 0rem 0.125rem 0.25rem #1f21241a, 0rem 0.0625rem 0.375rem #1f21240d;
  padding: 2% 0%;
  border-radius: 8px;
  margin: 8px 0;
  background-color: #fff;
}
.commonSec {
  background-color: #f1f1f1;
  width: 100%;
  margin-left: 220px;
  padding: 80px 15px;
  min-height: 100vh;
  overflow: hidden;
}
.infoTxt {
  font-size: 14px;
  padding-top: 1px;
}
.heading {
  padding-bottom: 2px;
}
.btnCont {
  text-align: right;
  background-color: #f1f2f4;
  padding-bottom: 30px;
  padding-right: 30px;
}
.collectionTopbar {
  display: flex;
  justify-content: space-between;
}
.collectionsCont {
  border-bottom: 1px solid grey;
  padding: 8px 0;
}
.collectionsImgCont {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
}
.imgThumbnail {
  border: 1px dotted grey;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}
/* .collectionsDisplay {
  background-color: #fff;
  border-radius: 6px;
  padding: 6px;
} */
.collectionsCont:hover {
  background-color: #f1f2f4;
}
.collectionImg {
  width: 60px;
  opacity: 0;
  position: absolute;
  left: 24px;
  cursor: pointer;
}
.adminBtn {
  background-color: #a99400;
  color: #fff;
  border-style: none;
  padding: 6px 10px;
  border-radius: 4px;
}
.radioBtnStylings {
  padding-left: 4px;
}
.dropZoneOverlay {
  font-family: cursive;
  color: #7066fb;
  position: absolute;
  top: 100px;
  text-align: center;
  padding: 0 10px;
}

.FileUpload {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
img.bImg {
  max-height: 100%;
  width: 100%;
}

.bannerThumbnail {
  width: 100%;
}
.adminLoginBtn {
  text-decoration: none;
  color: #000;
}
.activeBtn {
  background-color: rgba(79, 238, 92, 0.919);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}

.inactiveBtn {
  background-color: rgb(242, 75, 9);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}

.published {
  background-color: rgba(79, 238, 92, 0.919);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}
.scheduled {
  background-color: rgb(234, 242, 9);
  width: max-content;
  padding: 2px 14px;
  border-radius: 25px;
}

.password-toggle-icon {
  font-size: 18px;
  color: #333;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  padding: 0 8px;
  margin-top: -20px;
}

/* productListing */

.productsTopbar {
  display: flex;
  justify-content: space-between;
}
.productThumbnail {
  width: 60%;
}

.variantInput {
  width: 100px;
}

.saveBtn {
  width: max-content;
  padding: 4px 10px;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 4px;
}
.dltBtn {
  width: max-content;
  padding: 4px 10px;
  color: #fff;
  background-color: red;
  border: none;
  border-radius: 4px;
}
.wImg {
  max-width: 380px;
  position: absolute;
}
.mImg {
  max-width: 140px;
  position: absolute;
}
.mbImg {
  width: 120px;
  position: absolute;
}
.cancelBtn {
  border: 1px solid rgb(173, 173, 173);
  color: #000;
  font-weight: 500;
  background-color: transparent;
  border-radius: 6px;
}
.saveBtn {
  border: none;
  color: #fff;
  font-weight: 500;
  background-color: #494848;
  border-radius: 6px;
}
.productLink {
  text-decoration: none !important;
  color: #000;
}

/* notFoundPage */

.not-found-card {
  background-color: #a890cc;
  width: 98vw;
  height: 96vh;
  display: flex;
  align-items: center;
}

.not-found-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.heading-main {
  color: #91bbd9;
  font-size: 13rem;
  font-weight: bold;
  margin: 0px;
}

.heading_sub {
  font-family: 'Roboto', 'Helvetica Neue';
  color: #363337;
  margin-bottom: 15px;
}

/* Discounts page */

.methodBtn {
  background-color: transparent;
  border: none;
  width: 50%;
}
.methodBtnCont {
  border-radius: 8px;
  width: 60%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: 1px solid #c9c6c6;
  margin-bottom: 4px;
}
.active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.brandThumbnail {
  width: 60%;
}
.icons {
  cursor: pointer;
  margin-right: 8px;
}
tr.item {
  vertical-align: middle;
}
.generateCodeBtn {
  background-color: transparent;
  border: none;
  color: blue;
}
.summaryTxt {
  font-size: 12px;
  font-weight: 700;
}
svg.copyIcon {
  font-size: 15px;
  margin-left: 4px;
  cursor: pointer;
}
.singleVariantImg {
  position: relative;
}
.discountBlock {
  position: relative;
}
.percentageSign {
  position: absolute;
  top: 12px;
  right: 4px;
  color: gray;
}
.rupeeSign {
  position: absolute;
  top: 12px;
  left: 2px;
  color: gray;
}
.amtInpt {
  margin: 6px;
  width: 20%;
}
.chip {
  text-wrap: wrap !important;
}

.newVariant {
  margin-top: 12%;
}
.imgController {
  display: flex;
  justify-content: space-between;
}
.imgagesCont {
  display: flex;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 14px;
}
.imgCont {
  position: relative;
}
.selectImg {
  display: none;
}
.imgCont:hover {
  .selectImg {
    display: block;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
  }
}

.enableall {
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 18px;
  height: 18px;
}

.dltImgBtn {
  font-size: 24px;
  color: #ec2e2e;
  cursor: pointer;
}

/* announcementBarSec */

.announcementBarSec {
  width: fit-content;
}
.spacing {
  margin: 10px 0;
}

button#drobdownBtn {
  border: none;
  padding: 6px 10px;
  background-color: transparent;
}
.dropdownItems {
  color: #616161;
}
.childElements {
  padding: 0 0 0 14px;
}

/* inventoryPage */

.inventoryDropdownBtn {
  border-style: none !important;
  font-weight: 600 !important;
  font-size: 26px !important;
}
svg.downArr {
  font-size: 20px;
}
input.inventoryInput {
  width: 70%;
  border-radius: 8px;
  border: 1px solid darkslategray;
}

.reset-password-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
