* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CustomSwal.css */
.color-toast {
  width: 90%;
  margin: 0px;
  padding: 0px;
  height: 10% !important;
  color: #d4edda !important; /* Light green background */
  background: #f92d26 !important; /* Dark green text */
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
  background-color: #7066e0;
  color: #fff;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-cancel {
  background-color: #f8f4f5;
  color: #f00f0f;
}

.swal-custom-content {
  padding: 15px;
  text-align: center;
}

.swal-custom-confirm-button,
.swal-custom-cancel-button {
  margin: 5px;
}

/* Optional: if you need to further control the width and height */
.swal2-toast {
  padding: 0rem !important;
}
