.inventoryDropdown{
    width: max-content !important;
    display: inline-block !important;
    background-color: transparent !important;
    border: none !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    text-transform: capitalize !important;
}

.inventoryDropdown:focus {
    outline: none !important;
    outline-color: transparent;
}
.productImg{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.variantsOpt{
    background-color: #c0c1c0;
    padding: 2px 8px;
    font-size: 12px;
    border-radius: 25px;
    margin: 2px;
    width: max-content;
}
.saveBtn{
    width: max-content;
    padding: 3px 10px;
    color: #fff;
    background-color: rgb(43, 148, 43);
    border-radius: 4px;
    border: none;
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
}
.dropDown {
    position: absolute;
    background-color: #fff;
    border-radius: 14px;
    border: 1px solid lightslategrey;
    padding: 14px;
    top: 38px;
    right: 0;
}
.active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 6px;
    padding: 2px 6px;
}
.invSecImg{
    width: 6rem;
    height: 6rem;
    border-radius: 0.6rem;
    border: 1px dashed grey;
}